{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Электрохимприбор" персонал</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>

{% block header %}
    <div class="header">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'employeers_list' %}">Персонал</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'posts_list' %}">Должности</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="all_page container">
        <div class="row">
            <div class="col">
            {% block main %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        FOOTER
    </div>
{% endblock %}
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>