{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Электрохимприбор" персонал</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>

{% block header %}
<div class="header__container">
        <img src="{% static 'img/Vector.svg' %}" alt="logo" class="header__logo">
        <ul class="header__links">
            <li class="header__link">Персонал</li>
            <li class="header__link">Должности</li>
        </ul>
    </div>
    <div>
{#        <button class="header__btn">Войти</button>#}
{#        <button class="header__btn">Регистрация</button>#}
    </div>
{% endblock %}
{% block content %}
    <div class="all_page container">
        <div class="row">
            <div class="col">
            {% block main %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="footer__container">
            <h3>Контакты</h3>
            <p>Техподдержка: 9 54-33</p>
            <p>Написать нам: test@gmail.com</p>
        </div>
        <ul class="footer__links">
            <a class="footer__link" href="#">О сервисе</a>
            <a class="footer__link" href="#">Копроротивный портал</a>
            <!-- <a class="footer__link" href="#"></a> -->
        </ul>
    </div>
{% endblock %}
</body>
</html>