{% extends 'base-page.html' %}
{% load static %}
{% block content %}
    <div>
        <main>
            <a href="{% url 'post_add' %}">
                <button type="button" class="btn btn-outline-dark mt-3 mb-3">Добавить должность</button>
            </a>
            <table id='posts-table' class="table">
              <thead>
                <tr>
                  <th scope="col">Должность</th>
                  <th scope="col">Категория</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </main>
    </div>
    <script src="{% static 'js/posts-list.js' %}"></script>
{% endblock %}