{% extends 'base-page.html' %}


{% block main %}
    <div class="content">
        <aside>
            <div>
                <a href="{% url 'employeers_list' %}">
                    <button type="button" class="btn btn-primary">Персонал</button>
                </a>
                <a href="{% url 'posts_list' %}">
                    <button type="button" class="btn btn-primary">Должности</button>
                </a>
            </div>
        </aside>
        <main>
            <table id='main-table' class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ФИО</th>
                  <th scope="col">Пол</th>
                  <th scope="col">Возраст</th>
                  <th scope="col">Должность</th>
                  <th scope="col">Категория</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
        </main>
    </div>
    <script>
        getData()
    </script>
{% endblock %}